#teams-container {
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  min-height: 3rem;
  width: 100%;
}

#header-left > h1 {
  font-size: 1.5rem;
  line-height: 1.2rem;
}

#header-left > small {
  color: #686868;
}

#header-right {
  margin-left: auto;
  display: flex;
  gap: 0.8rem;
  height: 2rem;
}

#header-right > * {
  box-shadow: var(--box-shadow);
}

.search-bar {
  padding: 0.35rem;
  display: flex;
  align-items: center;
  width: 13rem;
  border: solid 1px white;
  border-radius: 0.5rem;
  background-color: white;
  transition: border-color 0.7s;
}

.search-bar input {
  padding-right: 0.5rem;
  border: none;
  outline: none;
}

.search-bar input::placeholder {
  color: rgb(130, 141, 143);
  font-size: 14px;
  font-weight: 500;
  transform: translateY(10%);
}

.search-bar svg {
  margin: 0 0.5rem;
  height: 1rem;
  width: 1rem;
}

.search-bar-focus {
  border: solid 1px var(--primary-blue-color);
}

#new-team-button {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary-blue-color);
  color: white;
  font-size: 14px;
  box-shadow: var(--box-shadow);
}

