#main-container {
  padding: 2rem 1.5rem;
}

#greetings-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 20rem;
  background: red;
}

#greeting-container h1 {
  color: white;
}