#main-container {
  padding: 2rem;
}

#greetings-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  height: fit-content;
  width: 20rem;
  border-radius: 1rem;
  background: white;
}

#greetings-container h1 {
  padding-top: 0.5rem;
}

#greetings-container p {
  font-size: 0.8rem;
  font-weight: 600;
}