.stats-card {
  position: relative;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 1rem;
  color: white;
  aspect-ratio: 1 / 0.7;
}

.stats-card a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.stats-card:hover {
  filter: saturate(50%)
}

.stats-card:hover .stats-view-details {
  display: flex;
}

.stats-view-details {
  position: absolute;
  bottom: 0%;
  padding: 0.3rem 0;
  display: none;
  justify-content: center;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  background-color: #BCBCBC;
  font-size: 15px;
  font-weight: 600;
  user-select: none;
}

.stats-details {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats-details h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.stats-details p {
  font-size: 0.9rem;
  font-weight: 600;
}

.stats-logo {
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 30%;
}

.stats-logo img {
  width: 2rem;
  height: 2rem;
}