#schedule-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

#header-container {
  position: relative;
  padding: 0 2rem;
  display: flex;
  height: fit-content;
  width: 100%;
}

#header-container::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #385D75;
}

#header-container h1 {
  font-size: 1.7rem;
  transform: translateY(-0.2rem);
}

#team-members-container {
  margin-left: auto;
  padding-right: 1rem;
  display: flex;
  height: fit-content;
  gap: 5px;
  transform: translateY(-0.2rem);
}

#team-members-container img {
  width: 2.3rem;
}
