#schedule-container {
  padding: 2rem;
  display: flex;
  height: 100vh;
  width: 100%;
}

#header-container {
  padding: 0 2rem;
  display: flex;
  height: fit-content;
  width: 100%;
  border-bottom: solid #385D75 2px;
}

#header-container h1 {
  transform: translateY(-0.5rem);
}

#team-members-container {
  display: flex;
  height: fit-content;
  margin-left: auto;
}

#team-members-container img {
  width: 2.5rem;
}