.feature-card {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

.feature-card p {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #686868;
  font-weight: 600;
}

