#homepage-container {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

#primary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#primary-container h1 {
  text-align: center;
  font-size: 2.5rem;
}

#primary-container p {
  text-align: center; 
  color: #686868;
  font-weight: 600;
}

#secondary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#secondary-container h2 {
  text-align: center;
}

#feature-container {
  display: grid;
  grid-template-columns: 3fr 1.8fr;
  gap: 1rem;
  width: 70%;
}

