button {
  padding: 0.8rem 1.3rem;
  width: fit-content;
  border: none;
  border-radius: 1rem; 
  background: white;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 25%);
}