#sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 18%;
  min-width: 235px;
  max-width: 235px;
  background: linear-gradient(313deg, rgba(95, 91, 209, 1) 0%, rgba(82, 134, 255, 1) 100%);
}

#sidebar-brand {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-5%)
}

#brand-link {
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
}

#brand-logo {
  height: 1.7rem;
  width: 1.7rem;
  transform: translateY(20%)
}

#brand-name {
  color: white;
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 8px;
}

#sidebar-nav {
  display: flex;
  flex-direction: column;
}

.nav-option-container {
  position: relative;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.nav-option-container::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, white, transparent);
}

.nav-option-container::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0%;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, white, transparent);
}

.nav-option-active {
  background-color: #00A6FF;
}

.nav-option-container img {
  height: 1rem;
  width: 1rem;
}

.nav-option-container h3{
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

#sidebar-profile-container {
  position: relative;
  margin-top: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
}

#sidebar-profile-container::before {
  content: "";
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  position: absolute;
  width: 85%;
  height: 1px;
  background-color: white;
}

#profile-button {
  padding-right: 0.5rem;
  width: 3rem;
}

#username {
  color: white;
  font-weight: 600;
}

#notification-bell {
  margin-left: auto;
  width: 1.5rem;
}

@media (max-width: 568px) {
  #sidebar-container {
    display: none;
  }
}