#sidebar-container {
  height: 100vh;
  width: 18%;
  min-width: 200px;
  background: #5F5BD1;
  background: linear-gradient(313deg, rgba(95, 91, 209, 1) 0%, rgba(82, 134, 255, 1) 100%);
}

#sidebar-brand {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  transform: translateX(-5%)
}

#sidebar-brand img {
  height: 1.7rem;
  width: 1.7rem;
}

#sidebar-brand h1 {
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 5px;
}

#sidebar-nav {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.nav-option-container {
  position: relative;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.nav-option-container::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, white, #5F5BD1);
}

.nav-option-container::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0%;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, white, #5F5BD1);
}

.nav-option-container img {
  height: 1rem;
  width: 1rem;
}

.nav-option-container h3{
  color: white;
  font-size: 1rem;
  font-weight: 600;
}


