.upcoming-details {
  margin-top: 0.5rem;
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  list-style-type: none;
  border: #62A5D1 solid 2px;
  border-radius: 1rem;
}

.upcoming-details-head {
  width: 100%;
  display: flex;
  align-items: center;
}

.upcoming-details-head h3 {
  color: #3633ffda;
  font-size: 1.1rem;
  font-weight: 600;
}

.upcoming-details-head span {
  margin-left: auto;
  color: #5B69E0;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.upcoming-details p{
  padding-top: 0.2rem;
  color: #5B69E0;
  font-size: 13px;
  font-weight: 600;
}